<div class="profile-container">
  <div class="container-profile-details">
     <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
    <div class="container-profile-info">
      <div class="profile-edit">
      </div>
      <div class="profile-welcome">
        <h1>Welcome back, Username</h1>
        <h4>Madrid, Spain</h4>
        <%= link_to "Edit profile", "#", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

  <div class="container-puppy">
    <div class="owned-puppies">
      <div class="owned-puppies-info">
        <h3>Your puppies</h3>

        <% current_user.puppies.each do |puppy| %>
          <div class="card-product puppy-card-owned ">
            <%= cl_image_tag(puppy.photo) %>
            <div class="card-product-infos">
              <h2 id="about-puppy">About <%= puppy.name %> </h2>
              <p>Breed: <%= puppy.breed %></p>
              <p>Age: <%= puppy.age %></p>

            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="booked-puppies">
      <div class="booked-puppies-info">
        <h3></h3>
        <div class="puppy-card-booked puppy-card">
        </div>
      </div>
    </div>
  </div>
</div>

