<div class="profile-container">
  <div class="container-profile-details">
     <img class="avatar-large" alt="avatar-large" src="<%= cl_image_path("user-circle") %>">
    <div class="container-profile-info">
      <div class="profile-edit">
      </div>
      <div class="profile-welcome">
      <h1>Welcome back, Simon</h1>
        <h4>Bogota, Colombia</h4>
        <%= link_to "Edit profile", "#", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

<div class="container-profile-details">
  <div class="container-puppy" id="owned">
      <div class="owned-puppies-info">
        <h3>Your listed puppies</h3>
        <% current_user.puppies.each do |puppy| %>
          <div class="card-product puppy-card-owned ">
            <%= cl_image_tag(puppy.photo) %>
            <div class="card-product-infos">
              <h2 id="about-puppy">About <%= link_to puppy.name, puppy_path(puppy) %></h2>
              <p>Breed: <%= puppy.breed %></p>
              <p>Age: <%= puppy.age %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>

<div class="container-profile-details">
    <div class="container-puppy" id="booked">
      <div class="owned-puppies-info">
        <h3>Your booked puppies</h3>
        <% current_user.taking_puppies.each do |puppy| %>
          <div class="card-product puppy-card-booked ">
            <%= cl_image_tag(puppy.photo) %>
            <div class="card-product-infos">
              <h2 id="about-puppy">About <%= link_to puppy.name, puppy_path(puppy) %></h2>
              <p>Breed: <%= puppy.breed %></p>
              <p>Age: <%= puppy.age %></p>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  </div>
</div>

