<div class="navbar-container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
    <%= link_to "rent-a-puppy", root_path, class: "title-name brand-name" %>
<!--   <%= link_to "/", class: "navbar-brand" do %>
  <% end %> -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!--  Navbar stuff for logged in user -->

      <% if user_signed_in? %>

      <li class="nav-item">
        <%= link_to "List a puppy", new_puppies_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to profile_users_path do %>
        <%= image_tag "https://images.pexels.com/photos/776450/pexels-photo-776450.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=9400", class: "avatar dropdown-toggle" %>
        <% end %>

      </li>


      <!--  Navbar stuff for not logged in user -->

      <% else %>

      <% if controller_name != 'sessions' %>
        <li class="nav-item">
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signinModal" id="signinbutton">
          Sign in
        </button>
        </li>
      <% end %>
      <% if controller_name != 'registrations'%>
        <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if controller_name != 'registrations' && controller_name != 'sessions' %>
      <li class="nav-item">
        <%= link_to "List a puppy", new_puppies_path(list_new_puppy: true), class: "nav-link" %>
      </li>
      <% end %>

      <% end %>
    </ul>
  </div>
</div>
</div>
