<div>
  <div class="form-sign-up">
    <h2>Puppy Registration:</h2>
    <%= simple_form_for(@puppy) do |f| %>
      <%= f.input :name, required: false %>
      <%= f.input :breed, required: false %>
      <%= f.input :age, required: false %>
      <%= f.input :address %>
      <%= f.input :photo, required: false, class: "submit btn" %>
      <%= f.input :photo_cache, as: :hidden %>

    <div class="form-actions">
    <%= f.button :submit %>
    </div>
    <% end %>
  </div>
</div>

