<div>
  <div class="form-sign-up">
    <h2>Puppy Sign up:</h2>
    <%= simple_form_for(@puppy) do |f| %>
      <%= f.input :name %>
      <%= f.input :breed %>
      <%= f.input :age %>
      <%= f.input :address %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

    <div class="form-actions">
    <%= f.button :submit %>
    </div>
    <% end %>
  </div>
</div>

