
  <div class="container-search-page">
    <div class="container-search-puppies">
<%= form_tag puppies_path, method: :get do %>
<%= text_field_tag :query,
params[:query],
class: "form-control",
  placeholder: "Find a breed"
  %>
  <% end %>
   <% @puppies.each do |puppy| %>

   <div class="card-product puppy-card-owned ">
    <%= cl_image_tag(puppy.photo) %>
    <div class="card-product-infos">
      <h2 id="about-puppy">About <%= link_to puppy.name, puppy_path(puppy) %></h2>
      <p>Breed: <%= puppy.breed %></p>
      <p>Age: <%= puppy.age %></p>
    </div>
  </div>
  <% end %>
  </div>


  <div
  id="map"
  style="width: 100%;
  height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

