<div class="show-container">
  <div class="puppy-card">
    <div class="image-class">
    <%= cl_image_tag @puppy.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="puppy-specs">
      <h2 id="about-puppy">About <%= @puppy.name %> </h2>
      <p>Breed: <%= @puppy.breed %></p>
      <p>Age: <%= @puppy.age %></p>
      <p>Favorite Activities: </p>
      <hr id="hr-profile-page">
    </div>


  <div class="option-buttons">
    <div class="delete-button">
      <% if @puppy.user = current_user %>
        <%= link_to  "Delete Puppy", delete_puppy_path(@puppy), method: :delete, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="add-another-button">
      <% if @puppy.user = current_user %>
        <%= link_to  "Add another puppy", new_puppies_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  </div>
    <div class="puppy-info">
      <h2 class="pl-2"><%= @puppy.name %></h2>
      <hr>
      <div class="puppy-content p-2">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="puppy-booking">
      <div class="booking-details">
      <h2>$10 per day</h2>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
      </div>
      <div class="star-rating">
        <div class="demo">
          <div class="ratingControl">
              <input type="radio" id="rating-5" name="rating" value="5">
              <label class="ratingControl-stars ratingControl-stars--5" for="rating-5">5</label>
              <input type="radio" id="rating-45" name="rating" value="4.5">
              <label class="ratingControl-stars ratingControl-stars--45 ratingControl-stars--half" for="rating-45">45</label>
              <input type="radio" id="rating-4" name="rating" value="4">
              <label class="ratingControl-stars ratingControl-stars--4" for="rating-4">4</label>
              <input type="radio" id="rating-35" name="rating" value="3.5">
              <label class="ratingControl-stars ratingControl-stars--35 ratingControl-stars--half" for="rating-35">35</label>
              <input type="radio" id="rating-3" name="rating" value="3">
              <label class="ratingControl-stars ratingControl-stars--3" for="rating-3">3</label>
              <input type="radio" id="rating-25" name="rating" value="2.5">
              <label class="ratingControl-stars ratingControl-stars--25 ratingControl-stars--half" for="rating-25">25</label>
              <input type="radio" id="rating-2" name="rating" value="2">
              <label class="ratingControl-stars ratingControl-stars--2" for="rating-2">2</label>
              <input type="radio" id="rating-15" name="rating" value="1.5">
              <label class="ratingControl-stars ratingControl-stars--15 ratingControl-stars--half" for="rating-15">15</label>
              <input type="radio" id="rating-1" name="rating" value="1">
              <label class="ratingControl-stars ratingControl-stars--1" for="rating-1">1</label>
              <input type="radio" id="rating-05" name="rating" value="0.5">
              <label class="ratingControl-stars ratingControl-stars--05 ratingControl-stars--half" for="rating-05">05</label>
          </div>
        </div>
      </div>


      <hr>
      <form action="#">
    <div class="form-group">
        <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</form>
      <div class="check-in-out">
      <p> Check-in </p>
      <input class="date-selection"type="date" id="start" name="trip-start"
       value="2019-07-19"
       min="2019-07-10" max="2020-12-30">
      </div>
      <div class="check-in-out">
      <p> Check-out </p>
      <input class="date-selection" type="date" id="end" name="trip-end"
       value="2019-07-20"
       min="2019-07-20" max="2020-12-31">
       </div>
      <hr>
      <div class="puppy-pricing">
        <h2>Pricing</h2>
      </div>
        <div class="puppy-pricing">
          <p>$10 x 2 days</p>
          <p>$20</p>
        </div>
        <div class="puppy-pricing">
          <p>Service Fee</p>
          <p>$5</p>
        </div>
        <div class="puppy-pricing">
          <p><strong>Total</strong></p>
          <p>$25</p>
        </div>
        <hr>
        <div class="booking-button">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Book me!</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">
        <%= cl_image_tag @puppy.photo, height: 300, width: 400, crop: :fill %>
        <p>You're almost ready to book <%= @puppy.name %></p>
        <p>Confirm and you're all set!</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <%= link_to  "Confirm", book_puppy_path(@puppy), class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
      </div>
  </div>
</div>
